#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.vertical-rytmic {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

